@font-face {
    font-family:"Roboto" ;
    src: url(Roboto/Roboto-Black.ttf) format("truetype");
}

/* First Part is started */
*
{
  padding: 0;
  margin: 0;
  font-family : "Roboto";
  box-sizing : border-box;
}

.hero
{
  height: 100vh;
  width: 100%;
  background-color: #1F2937;
  background-size: cover;
  background-position: center;

}

nav
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;

}

.logo
{
  width: 150px;
  cursor: pointer;
}

nav ul li 
{
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;

}

nav ul li a
{
  color: #E5E7EB;
  text-decoration: none;
  font-size: 18px;
  
}

nav ul li a:hover
{
  color: #FFBD59;
  
 
}

.content
{
  position:absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);

}

.content>h1
{
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
  margin: 20px 0px 20px;
}


.content>h4
{
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 50px;
  font-weight: lighter;
  
}

.btn-signup 
{
  width: 380px;
  max-width: 100%;
  position: relative;

}

.btn-signup  input
{
  position:absolute;
  display: inline-block;
  padding: 10px 30px;
  background-color: #3882F6;
  color: white;
  border: #3882F6;
  border-radius: 8px;

}

.btn-signup  input:hover
{
  background-color: transparent;
  border : 2px solid #3882F6;
}



.photo
{
  position: absoulute;
  display: inline-block;
  width: 550px;
  height: 350px;
  margin-left: 56em;
  margin-bottom: 10em;
  border-radius: 3px;


}

/* First Part Ended*/

/*Purpose part start*/

.purpose
{
  background: #E5E7EB;
  width: 100%;
  padding: 80px 0px;
  background-color: white;
}

.title h2
{

  color: #1F2937;;
  font-size: 50px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

/*kutucuklar yukari asagi*/
.box
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  
}

/*elemanlari birbirinden ayiriyor ve boyutlaari*/
.card
{
  height: 200px;
  width: 250px;
  padding: 20px 30px;
  background: white;
  border: solid #3882F6;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  /*bakilsin*/
  overflow: hidden;
  text-align: center;
}
.card:hover 
{
  background-color: #3882F6;
  transform: scale(1.2);
}
.card span
{
  font-size: 45px;
  display: center;
  text-align: center;
  margin: 10px auto ;
  color:#1F2937
}

h5
{
  color:#1F2937;
  font-size: 20px;
  margin-bottom: 2px;
}

.card-cont p
{
  color:#1F2937 ;
  font-weight: lighter;
  font-size: 13px;
  line-height: 20px;
  
  
}
/* our service part is done*/
/*ozlu soz kismi basladi*/
.apophthegm
{
  background-color: #E5E7EB;
  width: 100%;
  padding: 100px 0px;

  /*yaziyi ortalar*/
  align-items: center;

}

.apop-content
{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  padding-left: 200px;

}


.apop-content p
{
  font-size: 36px;
  font-style: italic;
  font-family: "Roboto";
  font-weight: lighter;
  
}

.apophthegm h5
{
  
  margin-left:200px;
  display: flex;
  padding-left: 1000px;
}
/* ozlu soz kismi bitti*/

/*signup kismi baladi*/

.sign-up
{
  width: 80%;
  height: 120px;
  
  background: #3882F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*yaziyi ortaya getiriyor*/
  align-items: center;
  border-radius: 5px;
  margin: 100px auto auto auto;
  word-spacing: 2px;
  
} 

.sign-up h4
{
  align-items: center;
  color: #E5E7EB;
  padding-right:23em;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bolder;
  
}


.sign-up-class
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-left: 8%;
  padding-right: 8%;
  
  
}

.sign-up p
{
  color: #E5E7EB;
  align-items: center;
  justify-content: center;
  word-spacing: 10px;
  padding-right: 100px;
  
}

.last-button
{
  
  align-items: center;
  width: 100px;
  max-width: 100%;
  padding: 10px 30px;
  padding-left: 10px;
  background-color: #3882F6;
  color: #E5E7EB;
  border: 2px solid #E5E7EB;
  border-radius: 8px;
  
}

/*Footer is started*/
footer
{
  position: relative;
  width : 100% ;
  height: 70px;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  
}

/*kardesim burasi yan yana yazdirioyr*/
.social
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding-left: 8%;
  padding-right: 8%;
  color: #E5E7EB;
  
}
































